
 	<!-- Modal -->
	<div class="modal fade" aria-hidden="true" id="memberHistoryShow" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Activity History</h4>
	      </div>
	      <div class="modal-body">
			<div class="container scrollableContent">
			  <table class="table table-hover">
			  <thead>
			  	<tr>
			  		<td>Activity Date</td>
			  		<td>Action</td>
			  	</tr>
			  </thead>
			  <tbody>
			  <tr *ngFor="let activity of activityHistory">
			  	<td>{{ activity.activityDate | date }}{{ activity.redeemedDate | date }}</td>
			  	<td>
			  		<span *ngIf="activity.$class=='org.fitclub.fitcoin.RedeemFitCoins'">Redeemed </span>
			  		<span *ngIf="activity.$class=='org.fitclub.fitcoin.ReceiveFitCoins'">Received </span>
			  		{{ activity.fitCoinQuantity }} FitCoins for 
			  		{{ activity.activity }}{{ activity.redeemedFor }}
			  		<span *ngIf="activity.$class=='org.fitclub.fitcoin.RedeemFitCoins'"> from {{ activity.storeOwner | slice:40 }} </span>
				</td>
			  </tr>
			  </tbody>
			  </table>
			</div>		
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Modal -->
	
